html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("../image/landscape.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}